@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit-VariableFont_wght.ttf");
}

html {
  font-family: "Outfit";
}

.quote {
  background: radial-gradient(
    100vw circle at var(--x-quote) var(--y-quote),
    #6466e9 0%,
    #6466e988 10%,
    transparent 20%
  );
}

.quote-background-light::before {
  opacity: 0.25;
  position: absolute;
  background: radial-gradient(
    100vw circle at var(--x-quote-bg) var(--y-quote-bg),
    #6466e9 0%,
    #6466e988 25%,
    transparent 50%
  );
  content: "";
  inset: -1px;
}

.tooltip::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  margin-top: -10px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: currentColor transparent transparent transparent;
  transform: rotate(180deg);
}
